 
 
:root {

    --title-color: #f8f8f8;
    --primary-color: #2d8655ea;


}

    *{
        margin: 0;
        padding:0;

    }
 
 html {
        
    font-family: 'Roboto', sans-serif;

 }

 body   {
    background: #ffffff;
    -webkit-font-smoothing: antialiased;
}




 a {
    text-decoration: none;
 }

 h1, h2, h3, h4, h5, h6 {

    font-family: 'Ubuntu', sans-serif;
     color: var(--title-color);
     
 }
/* BOX MODEL 

modelo de caixa
toda caixa tem, largura, altura, preenchimentos, bordas, cor, fundo, maneira que é vista pelo html
(display) */

#page-home {

    height: 118vh;
    

    
    background: url('../assets/background.png') no-repeat ;
    background-position: center;
    background-size: 100vw; 

}



#page-home div .barra{

    padding: 2%;
    
    margin-top: 20px;

    background-color: #ffffff4b;


    display: flex;
    text-align: center;
    align-items: center;
   
    justify-content: space-between;
    border-radius: 8px;

}



#page-home .content {

    width: 100%;
    max-width: 1200px;
    height: 100%;


    margin: 0 auto;
 

    
    
    display: flex;
    flex-direction: column;

} 


#page-home .logo {

    width: 50px;
    height: 50px;
    border-style: solid;
    border-radius: 50%;
    border-color: white;
 
}




#page-home header a {

    display: flex;

    
    color: var(--title-color);
    font-weight: 700;

}


#page-home header .nome {
    margin-left: 15px;
    margin-top: 20px;
}


#page-home  main {

    max-width: 560px;


    flex: 1;

    display: flex;
    flex-direction: column;

    justify-content: center;
    

}

#page-home h1 {
    font-size: 54px;

}

#page-home main p {
    color: #ffffff;
    font-size: 24px;
    line-height: 30px;
    margin-top: 10px;
}

#page-home main a {

    width: 100%;
    max-width: 300px;
    height:60px;

    border-radius: 8px;

    display: flex;
    align-items: center;
    
    margin-top: 40px;

    background: var(--primary-color);

    transition: 400ms;

    

}

#page-home main a:hover {
    background-color: #2fb87e;
}

#page-home main a span {
    width: 72px;
    height: 72px;

    border-top-left-radius: 8px;
    border-bottom-left-radius:8px ;
        
   

    display: flex;
    align-items: center;
    justify-content: center;

}

#page-home main a span::after {
    content: "";
 

    width:20px;
    height:20px;




}
#page-home main a strong {
    flex: 1;
    color: #ffffff;

    text-align: center;
}

