html {
    -webkit-font-smoothing: antialiased;
}

#modal {

    font-family: 'Ubuntu', sans-serif;
    

    height: 80vh;
    width: 480px;
    
    left: 450px;
    margin-top: 40px;

    border-color: rgba(0, 0, 0, 0.247);
    border-style: solid;
    border-radius: 8px;
    border-width: 1px;
    
    background-color: rgba(0, 0, 0, 0.425);

    position: fixed;
    top: 0;
  
  
    transition: 400ms;
}

#modal.hide {
    transition:500ms;

    display: none;
}


#modal .content {
    color: black;
    
    width: 450px;

}

#modal .header  {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

#modal .header a {
    background-image: url("../assets/x.svg");
    width: 25px;
    height: 20px;
    


    font-size: 0.01px;

}

#modal .header h6 {
  
    color:  #ffffff;

    font-size: 2.5rem;
    font-weight: 550;


    letter-spacing: -0.02em;
    line-height: 110%;
    
    margin: 80px auto 80px auto;



}

#modal form label {
    font-size: 0.01px;
    line-height: 25px;

    color:  #ffffff;

    display:block;
    margin-bottom: 5px;

    margin-left: 15px;

}



#modal form input {
    flex: 1;

    outline: none;

    

    background-color: #ffffff;
    border-radius: 2px;
    border-style: solid;

    width: 290px;
    padding: 15px 15px;
    font-size: 16px;

    color: black;

    margin-left: 60px;
    


}

#modal form input::placeholder {
    color:rgba(0, 0, 0, 0.856);

    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;


}

#modal form .btn {

    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;

    margin-top:15px;
    margin-left: 150px;

    width: 150px;
    padding: 2%;

    outline:none;
    border-style: solid;
    border-radius: 8px;

    transition:500ms;

}

#modal form .btn:hover {

    background-color: #aaaaaa;
}